/* Default background color for larger screens */
body {
    background-color: #5A5A5A; /* Dark Gray */
  }
  
  /* Media query for screens with a maximum width of 1200px */
  @media (max-width: 1200px) {
    body {
      background-color: #ffcc00; /* Bright Yellow */
    }
  }
  
  /* Media query for screens with a maximum width of 992px */
  @media (max-width: 992px) {
    body {
      background-color: #ff6666; /* Bright Red */
    }
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    body {
      background-color: #99ff99; /* Bright Green */
    }
  }
  
  /* Media query for screens with a maximum width of 576px */
  @media (max-width: 576px) {
    body {
      background-color: #ff99cc; /* Bright Pink */
    }
  }
  
  /* Media query for screens with a maximum width of 414px (typical width of a mobile device) */
  @media (max-width: 414px) {
    body {
      background-color: #3399ff; /* Bright Blue */
    }
  }
  