*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    margin: auto;
}



/* Header styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        width: 100%;
        top: 70px;
        left: 0;
        text-align: center;
    }

    .show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Hero section styles */
.hero {
    background-image: url(./assets/wings.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 4rem 0;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-top: 1rem;
    font-weight: bold;
}

/* Featured Items section styles */
.featured-items {
    text-align: center;
    margin-top: 3rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-items h2 {
    font-size: 2rem;
}

.featured-items .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.featured-items .item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    flex: 1;
    max-width: 300px;
}

.featured-items .item img {
    max-width: 100%;
    height: auto;
}


/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}


.container {
    width: 80%;
    margin: auto;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5%);
    padding: 5rem;
    grid-gap: 2rem; /* No gap between grid items */
}

/* Adjust styles for smaller screens using a media query */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5%);
        padding: 2rem;
        grid-gap: 1rem; /* No gap between grid items */
    }
    .container {
        width: 100%;
      }
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item {
    grid-area: 1 / 1 / 3 / 3;
}

.gallery__item--2 {
    grid-area: 1 / 3 / 3 / 5;
}

.gallery__item--3 {
    grid-area: 1 / 5 / 6 / 9;
}

.gallery__item--4 {
    grid-area: 3 / 1 / 6 / 5;
}

.gallery__item--5 {
    grid-area: 6 / 1 / 9 / 4;
}

.gallery__item--6 {
    grid-area: 6 / 4 / 9 / 9;
}
